<div class="contenitore" [@animazioneContenitore]="statoContenitore">
    <div class="contenuto">
        <div class="informazioni">
            <h3 class="titolo">
                Benvenuto! 😄
            </h3>

            Questa app ti permette di accedere velocemente agli orari dell'istituto IIS Galileo Galilei di Crema.

            <h4>Come usare l'app</h4>
            <ol>
                <li>Trova l'orario che stai cercando tramite la barra di ricerca.</li>
                <li>Scegli l'orario che stai cercando. Per ciascun risultato vedrai i primi due impegni.</li>
                <li>Visualizza l'intero orario selezionando un risultato.</li>
                <li>Salva l'orario come preferito per visualizzarlo nella home ogni volta che aprirai l'app!</li>
                <li>Torna alla home schiacciando il logo.</li>
            </ol>

            <div class="sezione">
                <h4>Contatti</h4>
                Applicazione a cura di Nidasio Alberto (<a href="mailto:nidasioalberto@gmail.com?subject=Feedback per l'app Orario Galilei">nidasioalberto@gmail.com</a>)
                <br>
                Se riscontrate problemi o avete un'idea per possibli migliorie contattetemi pure via mail.
            </div>

            <h4>Registro aggiornamenti app</h4>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let aggiornamento of aggiornamentiApp" [hideToggle]="hideToggle">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{aggiornamento.dataPubblicazione}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{aggiornamento.descrizioneBreve}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    {{aggiornamento.descrizione}}
                </mat-expansion-panel>
            </mat-accordion>

            <div class="contenitore-versione-app">
                <div class="versione-app">Versione {{versione}}</div>
            </div>
        </div>
    </div>
</div>