<div class="contenuto contenuto orario animated zoomIn">
    <div class="card-con-bordi card-orario z-depth-1">
        <div class="titolo-orario">
                {{(orario | async)?.tipo}}: {{(orario | async)?.nome}}
        </div>

        <div class="orario-lista-impegni">
            <app-lista-impegni [impegni]="impegniLable"></app-lista-impegni>
        </div>
            
        <app-grafico-orario [orario]="orario" [impegni]="impegni"></app-grafico-orario>

        <div class="contenitore-bottome-preferito">
            <button class="material-button-contained">Aggiungi ai preferiti</button>
        </div>
    </div>
</div>