.contanitore-orario {
  padding-top: 72px;
}

.card-orario {
  margin: 12px;
}

.titolo-orario {
  font-size: 20px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.orario-lista-impegni {
  margin: 0 auto;
  display: table;
  text-align: center;
}

.contenitore-bottome-preferito {
  margin: 0 auto;
  display: table;
  padding-bottom: 8px;
}
