.card-principale {
    margin: 10%;
}

.tabella {
    border: 1px aqua solid;
    border-radius: 10px;
    background-color: aqua;
    width: 100%;
}

td {
    border: 1px aqua solid;
    border-radius: 8px;
    background-color: white;
    text-align: center;
}