.grafico-orario {
  border-collapse: collapse;
  margin: 0 auto;
}

.grafico-orario td {
  width: 97px;
  height: 47px;
  min-width: 97px;
  min-height: 47px;
  background-color: transparent;
  text-align: center;
}

.contenitore-grafico {
  overflow: auto;
  margin: 8px 0;
  padding-bottom: 8px;
}
