<div class="card-con-bordi elemento-lista-ricerca mat-elevation-z4" (click)="apriOrario()">
	<div *ngIf="orario | async as datiOrario; else datiNonDisponibili">
		{{datiOrario.tipo}}: {{datiOrario.nome}}
	</div>
	<ng-template #datiNonDisponibili>
		Dati non disponibili
		<ng-container *ngIf="observableIndiceOrario | async as indice">
			per {{indice.nome}}
		</ng-container>
	</ng-template>
	<div class="preview-orari">
		<app-lista-impegni [impegni]="prossimiImpegni"></app-lista-impegni>
	</div>
</div>