@import "../../../styles.scss";

.elemento-lista-ricerca {
  @extend .card-con-bordi;
  @extend .mat-elevation-z4;
  padding-top: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 12px;
  margin-left: 12px;
  margin-right: 12px;
}

.preview-orari {
  margin-top: 8px;
  margin-left: -4px;
  margin-right: -4px;
  padding-top: 2px;
  padding-bottom: 2px;
  display: inline-block;
}
