service cloud.firestore {
  match /databases/{database}/documents {
    match /Aule/{aula} {
      allow read;
      allow update: if controllaCounter(resource.data, request.resource.data);
    }
    match /Classi/{aula} {
      allow read;
      allow update: if controllaCounter(resource.data, request.resource.data);
      //controllaSoloAggiornamentoCounter(resource.data);
    }
    match /Professori/{aula} {
      allow read;
      allow update: if controllaCounter(resource.data, request.resource.data);
    }
    match /Messaggi/{messaggio} {
      allow write;
    }
  }

  function controllaCounter(datiCorrenti, datiNuovi) {
    // Controllo se solo i counter vengono aggiornati
    return 'preferiti' in request.resource.data
    		&& datiNuovi.dataAggiornamento == datiCorrenti.dataAggiornamento
    		&& datiNuovi.dataValidita == datiCorrenti.dataValidita
    		&& datiNuovi.nome == datiCorrenti.nome
    		&& datiNuovi.tabella == datiCorrenti.tabella
    		&& datiNuovi.ultimoAggiornamento == datiCorrenti.ultimoAggiornamento
    		&& datiNuovi.versione == datiCorrenti.versione
  }
}