<div class="contenitore-navbar">
	<div class="contenuto">
		<div class="contenuto-navbar card-con-bordi mat-elevation-z4" [@animazioneNavBar]="stato">
			<!-- Contenuto principale, sempre in mostra-->
			<div class="contenuto-principale">
				<div class="logo">
					<button mat-icon-button (click)="tornaAllaHome()" aria-label="Bottone che riporta alla home"
						matTooltip="Torna alla home">
						<img #immagineLogo src="assets/icons/logo-72x72.png" alt="Logo" oncontextmenu="return false">
					</button>
				</div>
				<div class="ricerca">
					<input #ricerca type="text" name="Ricerca" placeholder="Cerca classi, prof o aule"
						aria-label="Valore ricerca" (focus)="mostraFiltri(true)"
						(keyup)="aggiornaValoriRicerca(ricerca.value, filtroSelezionato)" [(ngModel)]="valoreRicerca">
				</div>
				<div class="bottone">
					<button mat-icon-button (click)="mostraFiltri()" aria-label="Filtri" matTooltip="Mostra i filtri">
						<mat-icon>menu</mat-icon>
					</button>
				</div>
				<mat-progress-bar class="progress-bar" mode="indeterminate" *ngIf="stato === 'chiuso' && loading"></mat-progress-bar>
			</div>

			<!-- Strumenti -->
			<div class="contenitore-strumenti" [@animazioneStrumenti]="stato">
				<div class="strumenti">
					<mat-chip-list aria-label="Strumenti">
						<mat-chip color="accent" (click)="cambiaFiltro('tutti')" matTooltip="Cerca tra tutti gli orari"
							[selected]="filtroSelezionato == 'tutti'">
							Tutti
						</mat-chip>
						<mat-chip (click)="cambiaFiltro('Classi')" [selected]="filtroSelezionato == 'Classi'" matTooltip="Cerca tra le classi">
							Classi
						</mat-chip>
						<mat-chip (click)="cambiaFiltro('Aule')" [selected]="filtroSelezionato == 'Aule'" matTooltip="Cerca tra le aule">
							Aule
						</mat-chip>
						<mat-chip (click)="cambiaFiltro('Professori')" [selected]="filtroSelezionato == 'Professori'" matTooltip="Cerca tra i profettori">
							Professori
						</mat-chip>
					</mat-chip-list>
				</div>
			</div>
		</div>
	</div>
</div>