$app-min-width: 300px;
$app-max-width: 768px;

html {
    font-family: 'Roboto';
    font-weight: 400;
    min-width: $app-min-width;
}

body {
    margin: 0;
}

@media only screen and (max-width: $app-max-width) {
    .contenuto {
      width: 100%;
    }
}

@media only screen and (min-width: $app-max-width) {
    .contenuto {
      width: $app-max-width;
    }
}

.contenuto {
    margin: 0 auto;
}

.card-con-bordi {
    border-radius: 8px;
    background-color: white;
}

.main-navbar {
    position: fixed;
    width: 100%;
    top: 0px;
    min-width: $app-min-width;
    z-index: 100;
}

.main-navbar-content {
    height: 48px;
    display: flex;
    margin: 12px;
}

.logo {
    padding: 0px;
}

.logo img {
    width: 48px;
    height: 48px;
}

.ricerca {
    height: 44px;
    padding-top: 4px;
    flex-grow: 1;
    padding-left: 12px;
    padding-right: 12px;
}

.ricerca input {
    height: 100%;
    width: 100%;
    border: 0px;
    margin: 0px;
    float: left;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0 0;
    font-size: 20px;
}

.ricerca input::placeholder {
    color: rgb(75, 75, 75);
}

cdk-virtual-scroll-viewport {
    height: 100vh;
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
}

cdk-virtual-scroll-viewport::-webkit-scrollbar {
    display: none; // Safari and Chrome
}

.lista-ricerca {
    margin-top: 84px;
    margin-bottom: 12px;
}

.elemento-lista-ricerca {
    padding-top: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 12px;
}

.preview-orari {
    margin-top: 8px;
    margin-left: -4px;
    margin-right: -4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.preview-orari i {
    font-size: 28px;
}

.tag-ora {
    padding: 4px 8px;
    margin: 4px 4px;
    display: inline-block;
}

.tag-ora-corrente {
    background-color: #4688F4;
    color: white;
}

.tag-ora-successiva {
    background-color: #FFC107;
}

/* z-depths */
.z-depth-1 {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.8, 0.8 0.8);
      transform: scale3d(0.8, 0.8, 0.8);
    }
  
    50% {
      opacity: 1;
    }
}
  
@keyframes zoomIn {
    from {
        opacity: 0.5;
        -webkit-transform: scale3d(0.8, 0.8, 0.8);
        transform: scale3d(0.8, 0.8, 0.8);
    }
  
    50% {
        opacity: 1;
    }
}
  
.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}