$app-min-width: 300px;
$app-max-width: 768px;
$primary-color: #4688F4;
$accent-color: #FFC107;

html {
    font-family: 'Roboto';
    font-weight: 400;
    min-width: $app-min-width;
}

body {
    margin: 0;
}

@media only screen and (max-width: $app-max-width) {
    .contenuto {
      width: 100%;
    }
}

@media only screen and (min-width: $app-max-width) {
    .contenuto {
      width: $app-max-width;
    }
}

.contenuto {
    margin: 0 auto;
}

.card-con-bordi {
    border-radius: 8px;
    background-color: white;
}

.main-navbar {
    position: fixed;
    width: 100%;
    top: 0px;
    min-width: $app-min-width;
    z-index: 100;
}

.main-navbar-content {
    height: 48px;
    display: flex;
    margin: 12px;
}

.logo {
    padding: 0px;
}

.logo img {
    width: 48px;
    height: 48px;
}

.ricerca {
    height: 44px;
    padding-top: 4px;
    flex-grow: 1;
    padding-left: 12px;
    padding-right: 12px;
}

.ricerca input {
    height: 100%;
    width: 100%;
    border: 0px;
    margin: 0px;
    float: left;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0 0;
    font-size: 20px;
}

.ricerca input::placeholder {
    color: rgb(75, 75, 75);
}

cdk-virtual-scroll-viewport {
    height: 100vh;
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
}

cdk-virtual-scroll-viewport::-webkit-scrollbar {
    display: none; // Safari and Chrome
}

.lista-ricerca {
    margin-top: 84px;
    margin-bottom: 12px;
}

.elemento-lista-ricerca {
    padding-top: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 12px;
}

.preview-orari {
    margin-top: 8px;
    margin-left: -4px;
    margin-right: -4px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: inline-block;
}

.preview-orari i {
    font-size: 28px;
}

.tag-ora {
    padding: 4px 8px;
    margin: 4px 4px;
    display: inline-block;
}

.tag-ora-corrente {
    background-color: $primary-color;
    color: white;
}

.tag-ora-successiva {
    background-color: $accent-color;
}

.orario {
    margin-top: 84px;
}

.card-orario {
    margin: 12px;
}

.grafico-orario {
    border-collapse: collapse;
    margin: 0 auto;
}

.grafico-orario td {
    width: 97px;
    height: 47px;
    min-width: 97px;
    min-height: 47px;
    background-color: transparent;
    text-align: center;
}

.contenitore-grafico {
    overflow: auto;
    margin: 8px 0;
    padding-bottom: 8px;
}

.titolo-orario {
    font-size: 20px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.orario-lista-impegni {
    margin: 0 auto;
    display: table;
    text-align: center;
}

.contenitore-bottome-preferito {
    margin: 0 auto;
    display: table;
    padding-bottom: 8px;
}

/* z-depths */
.z-depth-1 {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.8, 0.8 0.8);
      transform: scale3d(0.8, 0.8, 0.8);
    }
  
    50% {
      opacity: 1;
    }
}
  
@keyframes zoomIn {
    from {
        opacity: 0.5;
        -webkit-transform: scale3d(0.8, 0.8, 0.8);
        transform: scale3d(0.8, 0.8, 0.8);
    }
  
    50% {
        opacity: 1;
    }
}
  
.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* Material butotn */
.material-button-contained {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 16px;
    min-width: 64px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    color: rgb(var(--material-onprimary-rgb, 255, 255, 255));
    background-color: $primary-color;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-family: var(--material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 14px;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.material-button-contained::-moz-focus-inner {
    border: none;
}

/* Overlay */
.material-button-contained::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(var(--material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transition: opacity 0.2s;
}

/* Ripple */
.material-button-contained::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px; /* Safari */
    height: 32px; /* Safari */
    background-color: rgb(var(--material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.material-button-contained:hover,
.material-button-contained:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.material-button-contained:hover::before {
    opacity: 0.08;
}

.material-button-contained:focus::before {
    opacity: 0.24;
}

.material-button-contained:hover:focus::before {
    opacity: 0.3;
}

/* Active */
.material-button-contained:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.material-button-contained:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/* Disabled */
.material-button-contained:disabled {
    color: rgba(var(--material-onsurface-rgb, 0, 0, 0), 0.38);
    background-color: rgba(var(--material-onsurface-rgb, 0, 0, 0), 0.12);
    box-shadow: none;
    cursor: initial;
}

.material-button-contained:disabled::before {
    opacity: 0;
}

.material-button-contained:disabled::after {
    opacity: 0;
}